@use './mixins/mixins.scss' as *;
@use './mixins/utils.scss' as *;
@use './common/var.scss' as *;

@include b(radio-group){
    display: inline-block;
    text-align: start;
    width: 70%;

    & > .wd-radio + .wd-radio {
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 5px;
        margin-right: 20px;
    }

    & > .wd-radio:nth-of-type(1) {
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 5px;
        margin-right: 20px;
    }
}